.hero-body {
  padding: 30px 0 20px 20px;

  h1 {
    margin-bottom: 30px;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;  
  }
}

form {
  display: flex;
  justify-content: center;

  .input {
    width: 15%;
    margin-right: 20px;
  }

  
}

